@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

html {
  font-family: "Bree Serif", serif;
  color: #555;
  font-size: 100%;
  width: 100%;
}

.side {
  padding: 1px;
  font-family: "Bree Serif", serif;
  text-transform: uppercase;
  letter-spacing: .0875rem;
  font-size: 50%;
}
.side .side__inner {
  position: relative;
}

.side .top {
  top: 10px;
  text-align: left;
  color: black;
  padding: 0 0 0 135px;
}

.side .top {
  height: 25px;
  line-height: 20px;
  white-space: nowrap;
  word-spacing: .5rem;
  font-size: 250%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h5 {
    letter-spacing: -2px;
    font-weight: bold;
    margin: 0 0 40px;
    line-height: 1;
    letter-spacing: -1px;
    font-size: 450%;
  }
h2 {
  font-family: "Permanent Marker", cursive;
}

 p {
    font-size: 200%;
  }

a {
  text-decoration: none;
  color: #DE5F5F
}

a:hover {
  border-bottom: .1875rem solid;
}

.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  align-content: center;
  padding: 5vh 10px 5px 135px;
}
.section .section__inner {
  max-width: 800px;
}

.section.section--home {
  background-color: #FDEF52;
  color: #181818;
  width: 100%;
}

.section.section contact {
  fill: white;
}
