@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
  margin: 0px;
  padding: 0px;
}

section {
  font-family: "Bree Serif", serif;
}

a {
  font-family: "Bree Serif", serif;
  text-decoration: none;
  color: #DE5F5F;
}

a:hover {
  color: black;
}

nav {
  width: 20vw;
  padding: .5vw;
  margin: .5vw;
  font-size: 120%;
}

.top {
  display: flex;
  justify-content: space-around;
}

h2 {
  font-family: "Permanent Marker", cursive;
  line-height: 0.1em;
  font-size: 350%;
}

.lead {
  font-size: 150%;
}

.falaComigo {
  color: #555;
  font-size: 250%;
  margin-top: -20px;
}

.section--home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #FDEF52;
  width: 50vw;
  padding: .5vw;
  margin: .5vw;
}

.about {
  font-size: 250%;
  margin-top: -30px;
}

.section--contact {
  width: 50vw;
  padding: .5vw;
  margin: .5vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .section--home {
    width: 80vw;
    padding: 5vw;
    margin: 5vw;
  }
  .about {
    font-size: 150%;
    margin-top: -10px;
  }

  h2 {
    font-size: 190%;
  }
  .lead {
    font-size: 100%;
  }
  .falaComigo {
    font-size: 150%;
    margin-top: 10px;
  }
  nav {
    width: 90vw;
    padding-left: 5vw;
  }
  .section--contact {
    padding: 0 5vw 5vw 5vw;
    margin: 0 5vw 5vw 5vw;
  }
}
